<% layout ('layouts/app') %>

<style>


    .container{
        margin-top: 150px;
        text-align: center;
    }

    .row{
        padding: 5px;
        margin-left: 5px;
    }
    .row .card {
        margin-left: 10px;
    }

</style>



    <div class="container bg-warning-subtle" >
    <h1 style="margin-top: 200px;"> Daftar Petugas</h1>


    <div class="row g-3">
        <div class=" card col-sm-3">
            <h4>Daftar Staff Loket</h4>
            <p>staff rawat inap aktif</p>

        </div>
        <div class=" card col-sm-3">
            <h4>Daftar Staff Rawat Inap</h4>
        </div>
        <div class=" card col-sm-3">
            <h4>Daftar Perawat</h4>
        </div>
    </div>
    </div>