<% layout('/layouts/app') %>

<div class="container card py-4" style="max-width: 100vh; margin-top: 150px;">
    <form action="/rawatinap/controlPasien/<%= pasienrawatinap._id %>/save" method="POST">
        <h3 style="text-align: center;"> Form Control Pasien</h3>
        
        <p>nama : <span><%= pasienrawatinap.noPendaftaran.nama %></span></p>


        <div class="d-flex justify-content-around ">
            <div class="mb-1">
                <label for="keluhan" class="form-label">Keluhan</label>
                <input type="text" name="controlPasien[keluhan]" class="form-control sm " id="name" placeholder="">
            </div>
            <div class="mb-1">
                <label for="Respirasi" class="form-label">Respirasi</label>
                <input type="text" name="controlPasien[Respirasi]" class="form-control sm " id="name" placeholder="">
            </div>
            <div class="mb-1">
                <label for="tensi" class="form-label">Tensi</label>
                <input type="text" name="controlPasien[tensi]" class="form-control sm " id="name" placeholder="">
            </div>

        </div>

        <div class="d-flex justify-content-around ">
            <div class="mb-1">
                <label for="nadi" class="form-label">Nadi</label>
                <input type="text" name="controlPasien[nadi]" class="form-control sm " id="nadi" placeholder="">
            </div>
            <div class="mb-1">
                <label for="oksigen" class="form-label">kadarOksigen</label>
                <input type="text" name="controlPasien[kadarOksigen]" class="form-control sm " id="oksigen" placeholder="">
            </div>

        </div>





        <div>
            <button type="submit" class="btn btn-success mt-3">Simpan</button>
            <a href="/pages/kartuberobat"><button type="button" class="btn  btn-danger mt-3">Cancel</button></a>
        </div>
    </form>
</div>
