<% layout('/layouts/app') %>
<div style="position: fixed; top: 50px; left: 0; width: 100%; z-index: 9999;">
    <%- include('../layouts/partials/navbar-rawat-inap')  %>
</div>
 <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }
        h2 {
            color: #333;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }

        .image a img {
            max-width: 25px;
        }
        .tanggal{
            margin-left: 25px;
        }
        .tanggal h4 {
            font-size: 3vh;
            font-weight: bold
        }
        .tanggal h4 span {
            font-weight:400;
        }


    </style>
<div style="margin-top: 125px;">


<h2 style="text-align: center;">Data Kamar dan Permintaan Makan</h2>
<div class="tanggal">
    <h4 class="">Date: <span>Selasa, 25 Maret 2019</span></h4>
</div>

<table >
    <tr>
        <th>Nama Kamar</th>
        <th>Tipe Kelas</th>
        <th>Total Kasur</th>
        <th>Terpakai</th>
        <th>Status Makan</th>
        <th>Terakhir diperbarui</th>
        <th>aksi</th>
        
    </tr>
    <tr>
        <td>Mawar II</td>
        <td>1</td>
        <td>5</td>
        <td>3</td>
        <td>Belum</td>
        <td>02.00</td>
        <td>
            <div class="image">
            <a href=""><img src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702875116/simrs/image-removebg-preview_4_y1gwhd.png" alt="hapus"></a>
            <a href=""><img src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702875219/simrs/image-removebg-preview_5_jysq26.png" alt="edit"></a>    
             </div>
          </td>
    </tr>
</div>