<link rel="stylesheet" href="">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-inline " id="logo" >
        <a class="" href="#"><img src="images/logo.png" alt="" style="max-width: 10vh;"></a>
        <div class="d-inline" id="logo">
        <a class="navbar-brand" href="#" style="font-family: cambria; font-weight: bold;">RSUD Merauke</a>
        </div>
      </div>

      <!-- <div class="d-flex ">
         <div id="user" class="mt-1" style="margin-right: 10px; font-family: 'Times New Roman', Times, serif;">
          <h6>Admin : <span>Kinaryo</span></h6>
         </div>
        <div id="account" style="display: inline-block; margin-left: 10px ;">
          <img src="images/account.png" alt="account" style="max-width: 3vh;">
         </div>
      </div> -->

      <div>
        <h5 style="font-family: 'Times New Roman', Times, serif; font-size: 2vh;" >Administrasi</h5>
      </div>
   </div>
  </nav>