<link rel="stylesheet" href="">


<div style="position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;">
<nav class="navbar navbar-expand-lg bg-body-tertiary" ;>
    <div class="container-fluid">
      <div class="d-inline " id="logo" >
        <a class="" href="#"><img src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702815942/simrs/logo_legovv.png" alt="" style="max-width: 10vh; margin-top: -3px;"></a>
        <div class="d-inline" id="logo">
        <a class="navbar-brand" href="#" style="font-family: cambria; font-weight: bold;">RSUD Merauke</a>
        </div>
      </div>

      <div class="d-flex ">
          <div id="account" style="display: inline-block; margin-right: 3px; margin-top:-3px;">
          <img src="https://res.cloudinary.com/ddrepuzxq/image/upload/v1702815941/simrs/account_ueiiih.png" alt="account" style="max-width: 3vh;margin-top: -2px;">
         </div>
         <div id="user" class="mt-1" style="margin-right: 10px; font-family: 'Times New Roman', Times, serif;">
          


         <h5 style="font-family: 'Times New Roman', Times, serif; font-size: 2vh;" > : Administrasi</h5>
         </div>
      
      </div>

      <!-- <div>
        <div id="account" style="display: inline-block; margin-left: 10px ;">
          <img src="images/account.png" alt="account" style="max-width: 3vh;">
         </div><h5 style="font-family: 'Times New Roman', Times, serif; font-size: 2vh;" > : Administrasi</h5>
      </div>
   </div> -->
  </nav>

  <%- include('navbarPerawat')  %>


</div>