<% layout('/layouts/app') %>

<div class="container card py-4" style="max-width: 100vh; margin-top: 150px;">
    <form action="">
        <h3 style="text-align: center;;"> Form Pendaftaran Kartu Berobat</h3>
        
        <div class="mb-1">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" name="nama" class="form-control sm id="nama" placeholder="">
        </div>

        <div class="mb-1">
            <label for="nik" class="form-label">Nik</label>
            <input type="number" name="nik" class="form-control" id="nik" placeholder="">
        </div>

        <div class="mb-1">
            <label for="tanggalLahir" class="form-label">Tanggal Lahir</label>
            <input type="date" name="tanggalLahir" class="form-control" id="tanggalLahir" placeholder="">
        </div>

        <div class="mb-1">
            <label for="umur" class="form-label">Umur</label>
            <input type="number" name="umur" class="form-control" id="umur" placeholder="">
        </div>

        <div class="mb-1">
            <label for="jenisKelamin" class="form-label">Jenis Kelamin</label>
            <input type="text" name="jenisKelamin" class="form-control" id="jenisKelamin" placeholder="Jenis Kelamin">
        </div>

        <div class="mb-1">
            <label for="alamat" class="form-label">Alamat</label>
            <textarea type="text" name="alamat" id="alamat" class="form-control"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-success mt-3">Simpan</button>
            <a href="/pages/kartuberobat"><button type="button" class="btn  btn-danger mt-3">Cancel</button></a>
        </div>
    </form>
</div>
