<% layout('/layouts/app') %>
<div style="position: fixed; top: 50px; left: 0; width: 100%; z-index: 9999;">
    <%- include('../layouts/partials/navbar-admin-loket')  %>
</div>



<h1 style="margin-top: 150px;"> Dasboard</h1>