<% layout('/layouts/app') %>

<div class="container card py-4" style="max-width: 100vh; margin-top: 150px;">
    <form id="pendaftaranForm" action="/saveformulirpasien" method="POST">
        <h3 style="text-align: center;">Form Pendaftaran Pasien</h3>
        
        <div class="mb-1">
            <label for="kodeRegistrasiKartu" class="form-label"> No.Registrasi Kartu berobat</label>
            <input type="text" name="formulirPasien[kodeRegistrasiKartu]" class="form-control sm" id="kodeRegistrasiKartu" placeholder="">
        </div>

        <div class="mb-1">
            <label for="noPendaftaran" class="form-label"> No.Pendaftaran</label>
            <input type="text" name="formulirPasien[noPendaftaran]" class="form-control sm" id="noPendaftaran" placeholder="">
        </div>

        
        
        <div class="mb-1">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" name="formulirPasien[nama]" class="form-control sm" id="nama" placeholder="">
        </div>

        <div class="mb-1">
            <label for="nik" class="form-label">NIK</label>
            <input type="number" name="formulirPasien[nik]" class="form-control" id="nik" placeholder="">
        </div>

        <div class="mb-1">
            <label for="jenisKelamin" class="form-label">Jenis Kelamin</label>
            <input type="text" name="formulirPasien[jenisKelamin]" class="form-control" id="jenisKelamin" placeholder="">
        </div>
        
        <hr>
        <div class="mb-1">
            <label for="asuransiSelect" class="form-label">Asuransi</label>
            <select name="formulirPasien[asuransi]" id="asuransiSelect" class="form-select" aria-label="Default select example">
                <option selected disabled>Pilih Asuransi</option>
                <option value="Tidak Ada">Tidak Ada</option>
                <option value="BPJS">BPJS</option>
                <option value="Jiwasraya">Jiwasraya</option>
                <option value="KPS">Kartu Papua Sehat</option>
                <option value="Lainnya">Lainnya</option>
            </select>
            
            <div id="lainnyaContainer" style="display: none;">
                <label for="asuransiLainnya" class="form-label">Masukkan Asuransi Lainnya</label>
                <input type="text" name="formulirPasien[asuransi]" id="asuransiLainnya" class="form-control" aria-label="Default input example">
            </div>
            
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const asuransiSelect = document.getElementById('asuransiSelect');
                    const lainnyaContainer = document.getElementById('lainnyaContainer');
            
                    asuransiSelect.addEventListener('change', function () {
                        if (asuransiSelect.value === 'Lainnya') {
                            lainnyaContainer.style.display = 'block';
                        } else {
                            lainnyaContainer.style.display = 'none';
                        }
                    });
                });
            </script>
        </div>
        
        <div class="mb-1">
            <label for="noAsuransi">No. Asuransi</label>
            <div class="input-group mb-1">
                <input type="text" name="formulirPasien[noAsuransi]" class="form-control" id="noAsuransi" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text bg-warning bg-opacity-75" id="basic-addon2"><button class="bg-transparent" style="border: none;">Cek</button></span>
              </div>
        </div>

        <hr>
        <div class="mb-1">
        <label for="poli" class="form-label">Poli</label>
        <select id="poli" name="formulirPasien[poli]" class="form-select" aria-label="Default select example">
            <option selected disabled>Pilih Poli</option>
            <option value="Poli Gigi">Poli Gigi</option>
            <option value="Poli Mata">Poli Mata</option>
            <option value="Poli THT">PoliTHT</option>
            <option value="UGD">UGD</option>
            <option value="Rawat Inap">Rawat Inap</option>
        </select>
    </div>

    <div class="mb-1">
        <label for="ruangan" class="form-label">Ruangan</label>
        <select class="form-select" aria-label="Default select example" id="ruangan" name="formulirPasien[ruangan]">
            <option selected>Pilih Ruangan</option>
            <option value="Mawar">Mawar</option>
            <option value="Melati">Melati</option>
            <option value="Kamboja">Kamboja</option>
        </select>
        </div>
        <div class="mb-1">
            <label for="keterangan" class="form-label">Keterangan</label>
            <input type="text" name="formulirPasien[keterangan]" class="form-control" id="keterangan">
        </div>

        <div class="mb-1">
            <label for="tanggalMasuk" class="form-label">Tanggal Masuk</label>
            <input type="date" name="formulirPasien[tanggalMasuk]" class="form-control" id="tanggalMasuk" placeholder="">
        </div>



        <div class="mb-1">
            <label for="tanggalLahir" class="form-label">Tanggal Lahir </label>
            <input type="date" name="formulirPasien[tanggalLahir]" class="form-control" id="tanggalLahir" placeholder="">
        </div>
        <div>
            <label for="umur" class="form-label">Umur</label>
            <input type="number" name="formulirPasien[umur]" class="form-control" id="form-control" placeholder="">
        </div>

        <div class="mb-1">
            <label for="noTelpon" class="form-label">No. Telpon</label>
            <input type="number" name="formulirPasien[noTelpon]" class="form-control" id="noTelpon" placeholder="">
        </div>
        <div class="mb-1">
            <label for="nomorRujukan" class="form-label">Nomor Rujukan</label>
            <input type="number" name="formulirPasien[nomorRujukan]" class="form-control" id="nomorRujukan" placeholder="">
        </div>  
        <div class="mb-1">
            <label for="alamatSaatIni" class="form-label">Alamat Saat Ini</label>
            <textarea type="alamatSaatIni" name="formulirPasien[alamatSaatIni]" id="alamatSaatIni" class="form-control"></textarea>
        </div>




        <div>
            <button type="submit" class="btn btn-success mt-3">Simpan</button>
            <a href="/pages/kartuberobat"><button type="button" class="btn  btn-danger mt-3">Cancel</button></a>
        </div>
    </form>
</div>


<script>
    function generateNomorPendaftaran(){
        const  tahun = new Date().getFullYear().toString();
        const  tujuhAngkaAcak = generateRandomNumber(7);
        const  noPendaftaran = document.getElementById('noPendaftaran');
        noPendaftaran.value = `${tahun}${tujuhAngkaAcak}`
    }

    function generateRandomNumber(length) {
        let result = '';
                for(let i = 0 ; i<length; i++) {
        result += Math.floor(Math.random()*10).toString();
        }
        return result
    }

    window.onload = function() {
        generateNomorPendaftaran();
    }
</script>