<% layout('/layouts/app') %>

<h1 style="margin-top: 170px;">ini adalah tampilan logistik dan farmasi</h1>

<a href="/logistik-farmasi/tambah-item"> <button class="button" class="btn btn-success">new item</button></a>