<% layout('/layouts/app') %>
<div style="position: fixed; top: 50px; left: 0; width: 100%; z-index: 9999;">
    <%- include('../../layouts/partials/navbar-rawat-inap')  %>
</div>

<h1 style="margin-top: 170px;">ini adalah tampilan logistik dan farmasi</h1>

<a href="/logistik-farmasi/tambah-item"> <button class="button" class="btn btn-success">new item</button></a>