<% layout ('layouts/app') %>


<div class="container" style="margin-top: 200px;">
<form action="/register" method="POST">
    <div>
    <label for="username">Username :</label>
    <input type="text" name="username" id="username">
    </div>

    <div>
        <label for="email">emai :</label>
        <input type="email" name="email" id="email">
    </div>

    <div>
        <label for="password">password :</label>
        <input type="password" name="password" id="password">
        </div>

        <button type="submit">register</button>
</form>
</div>